@model Studente

<div class="card">
    <div class="card-header">Dettagli Studente</div>
    <div class="card-body">
        <p><strong>Nome:</strong> @Model.Nome</p>
        <p><strong>Cognome:</strong> @Model.Cognome</p>
        <p><strong>Data di Nascita:</strong> @Model.DataDiNascita.ToShortDateString()</p>
        <p><strong>Email:</strong> @Model.Email</p>
    </div>
</div>
